body {
    margin: 1em;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
}

.introduction {
    word-wrap: break-word;
}

.dropdown {
    margin-bottom: 1.5em;
}

.dropdown-toggle {   
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
}

.dropdown-item {
    padding-left: 1em;
    padding-right: 1em;
}

.scrollable-menu {
    height: auto;
    max-height: 250px;
    overflow-x: hidden;
}

.radio-inline {
    margin-right: 0.5em;
}

/* CSS that styles placeholder img */

img {
    max-width: 100%;
    max-height: 100%;
}

/* CSS that makes chart responsive */

#svg-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.svg-content-responsive {
    position: absolute;
    top: 0;
    left: 0;
}

/*  CSS that for slider bar */

.ticks {
    font: 1em;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #ddd;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
}

.handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
}

/* CSS that styles base map */

.feature {
    fill: #ddd;
}

.mesh {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
}

/* CSS that styles circles */

.bubble {
    fill: teal;
    fill-opacity: .5;
    stroke: #fff;
    stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
    fill: none;
    stroke: #ccc;
}

.legend text {
    fill: #777;
    font: 10px sans-serif;
    text-anchor: middle;
}